/* General styling */

html {
  font-size: 16px;
}

body {
  min-width: 570px;
  font-family: "Work Sans", sans-serif;
  line-height: 2.5;
  color: #4a4a4a;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/* Header */

.header {
  background-color: rgb(35, 2, 63);
  padding: 2.75rem 0;
}

.header h1 {
  font-family: "Righteous", cursive;
  font-size: 2.5rem;
  color: #ff00ab;
  margin-top: 0;
  margin-bottom: 0;
}

input:focus {
  outline: none;
}

#search-input {
  border-radius: 19px;
  margin-right: .625rem;
}

#search-button {
  background-color: #ff00ab;
  color: #22013f;
  border-radius: 19px;
  text-align: center;
  padding: .5rem;
}

#search-button:hover {
  background-color: #ff66cc;
  cursor: pointer;
}


/* Menu */

.menu {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.track {
  display: flex;
  padding: .6rem;
  border-bottom: 1px solid #cccccc;
  line-height: 1;
}

.track:hover {
  background-color: #f0eef3;
}

.track div {
  display: flex;
  align-items: center;
}

/* Play button */

.play-button a {
  display: flex;
  align-items: center;
  color: #ff00ab;
}

.play-button a:hover {
  color: #ff66cc;
}
